body {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}
.container {
    margin: auto;
    width: 95%;
}
#imagesContainer {
    float: left;
}
#buttonsContainer {
    float: left;
    margin-bottom: 20px;
}
#buttonsContainer li {
    cursor: pointer;
}
#clearLayers {
    padding: 2px 5px;
    font-size: 10px;
    color: #333;
    background: #dedede;    
    border: 1px #999 solid;
    border-radius: 3px;
    cursor: pointer;
}
#clearLayers:hover {
    background: #ececec;
    border: 1px #b4b4b4 solid;
}
#clearLayers:active {
    color: #333;
    background: #dedede;
}
/* Builder Box */
#builderContainer {
    float: right;
    margin-bottom: 25px;
}
#builderBox {
    border: 1px black solid;
    padding: 1px;
    width: 640px;
    height: 480px;
    position: relative;
}
#builderBox img {
    position: absolute;
}
/* Controls */
#controlsBox {
    float: left;
    width: 180px;
    margin-right: 20px;
}
#controls {
    padding: 0;
}
#controls li {
    background: #717171;
    color: #fff;
    border: 1px #5d5d5d solid;
    border-radius: 3px;
    padding: 5px 5px;
    margin-bottom: 3px;
    list-style-type: none;
}
#controls li:hover {
    border: 1px #535353 solid;
    background: #868686;
}
#controls li:active {
    background: #9c9c9c;
}
/* Layers */
#layersBox {
    float: left;
    width: 180px;
    margin-right: 20px;
    padding-left: 5px;
}
#layers {
    float: right;
}
#layers li {
    list-style-type: none;
}
/* Folders */
#foldersBox {
    float: left;
    width: 180px;
    margin-right: 20px;
}
#folders {
    padding: 0;
}
#folders li {
    background: #eee;
    border: 1px #000 solid;
    border-radius: 3px;
    padding: 5px 5px;
    margin-bottom: 3px;
    list-style-type: none;
}
#folders li:hover {
    border: 1px red solid;
}
/* Files */
#filesBox {
    float: left;
    width: 180px;
    margin-right: 20px;
}
#files {
    float: right;
}
#files li {
    list-style-type: none;
}

.unselected {
    border: 1px black solid !important;
}

.selected {
    border: 1px #ff0000 solid !important;
}

@media screen and (max-width: 1139px) {
    #builderContainer {
        width: 100%;
        float: none;
    }
}